<h1>Поиск по фильмам </h1>
<%= link_to 'Перейти к просмотру фильмов', films_path %><br><br>

<%= form_tag(search_by_film_result_path, :method => "get", class: "navbar-form", id: "search-form") do %>
    <div class="input-append">
        <%= text_field_tag :search, params[:search], class: "span2", 
            placeholder: "Введите название фильма"%>
        <%= submit_tag "Искать", :name => nil %>
    </div>
<% end %>
